.header {
    color: rgb(0, 0, 0);
    background-color: rgb(0, 218, 172);
    background-size: contain;
    font-family: "Emblema One", system-ui;
    font-size: 60px;
    text-align: center;
    padding: 0;
    grid-column: 1 / -1;
    grid-area: header;
}

body {
    background: url('Images/Constant/background-desktop.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: "Baskervville", serif;
    font-size: 20px;
}

@media (min-width: 550px) and (orientation: landscape) {
    body{
        background-size: cover;
        font-size: 20px;
    }
}

@media (orientation: portrait) {
    body {
        background: url('Images/Constant/background-mobile.jpg');
        background-size: cover;
        background-attachment: fixed;
    }
    .header {
    }
}

.main {
    grid-column: 2;
    padding: 20px;
    grid-area: main;
}

article {
    padding: 20px;
}

.navmain {
    list-style-type: none;
    margin: 3px 0;
    padding: 0;
    background: rgb(255, 128, 65 , 0.8);
    display: inline-block;
    border-radius: 10px;
    width: 100px;
    float: left;
    grid-area: navbar;
}

.navmain li {
    display: inline-block;
    margin: 3px 0;
    background: rgb(255, 128, 65);
    border-radius: 7px;
    width: 100px;
}

.navmain li a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 7px;
    border-width: 100px;
    padding: 5px;
}

.navmain :hover, .navmain :active {
    background: rgb(255, 156, 107);
    border-radius: 5px;
    border-width: 100px;
    padding: 6px;
    width: 100px;
}

.footer {
    /*background: rgb(127, 163, 211);*/
    background: url('Images/Constant/webpage.footer.jpg') no-repeat;
    background-size: cover;
    margin-bottom: 0;
    font-family: "Emblema One", system-ui;
    font-size: 21px;
    text-align: center;
    grid-column: 1 / -1;
    line-height: 0.1;
    grid-area: footer;
}

.homeTagline {
    background: rgb(0, 218, 172);
    text-align: center;
    grid-area: tagline;
}

.container {
    display: grid;
    grid-template-rows: /*75px 100px 100fr 140px*/ 10% 10% 68% 12%;
    grid-template-columns: 120px 30fr;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-areas: 
    "header header"
    "navbar tagline"
    "navbar main"
    "footer footer";
}