.header {
    color: rgb(0, 0, 0);
    background-color: rgb(0, 218, 172);
    background-size: contain;
    font-family: "Emblema One", system-ui;
    font-size: 40px;
    text-align: center;
    padding: 25px;
    grid-column: 1 / -1;
    grid-area: header;
}

.tagline {
    background: rgb(0, 218, 172);
    font-family: "Emblema One", system-ui;
    text-align: center;
    border-radius: 20px;
    font-size: 30px;
    padding: 20px;
    grid-area: tagline;
}

body {
    background: url('Images/Constant/background-desktop.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: "Baskervville", serif;
    font-size: 20px;
}

@media (min-width: 550px) and (orientation: landscape) {
    body{
        background-size: cover;
    }
}

@media (max-width: 549px) and (orientation: portrait) {
    body {
        background: url('Images/Constant/background-mobile.jpg');
        background-size: cover;
        background-attachment: fixed;
    }
}

.main {
    grid-column: 2;
    padding: 20px;
    grid-area: main;
    border-radius: 20px;
}

article {
    padding: 20px;
}

#icon {
    width: 28px;
}

.navmain {
    list-style-type: none;
    padding: 0;
    background: rgb(255, 128, 65 , 0.8);
    display: inline-block;
    border-radius: 10px;
    width: 100px;
    grid-area: navbar;
    position: fixed;
}

.navmain li {
    display: inline-block;
    margin: 3px 0;
    background: rgb(255, 128, 65);
    border-radius: 7px;
    width: 100px;
}

.navmain li a {
    font-size: 18px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 7px;
    border-width: 100px;
}

.navmain :hover {
    background: rgb(255, 156, 107);
}

#busy {
    background: rgb(255, 156, 107);
}

.showMenu {
    transform: translateY(0);
}

#bttBtn {
    display: none; /*Hidden by default*/
    position: fixed; /*fixed/sticky position*/
    bottom: 20px; /*place the btn at the bottom of the page*/
    right: 30px; /*place btn 30px from right*/
    z-index: 99; /*make sure it does not overlap*/
    border: none; /*remove borders*/
    outline: none; /*remove outline*/
    background-color: rgb(255, 128, 65);
    color: black;
    cursor: pointer; /*add mouse pointer on hover*/
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#bttBtn:hover {
    background-color: rgb(255, 156, 107);
}

.footer {
    /*background: rgb(127, 163, 211);*/
    background: url('Images/Constant/webpage.footer.jpg') no-repeat;
    background-size: cover;
    margin-bottom: 0;
    font-family: "Emblema One", system-ui;
    font-size: 21px;
    text-align: center;
    grid-column: 1 / -1;
    line-height: 0.05;
    grid-area: footer;
}

.container {
    display: grid;
    grid-template-rows: /*75px 100px 100fr 140px*/ 
        0.05fr 0.05fr 5fr 0.05fr;
    grid-template-columns: 0.5fr 5fr;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-areas: 
    "header header"
    "navbar tagline"
    "return main"
    "footer footer";
}
