.portfolio {
    list-style-type: none;
    margin-left: 50px;
    padding: 0;
    display: inline-block;
    border-radius: 10px;
    width: 1000px;
    background: rgb(255, 127, 141, 0.8);
    grid-area: main;
}

.portfolio li a{
    font-size: 80px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.portfolio :hover{
    background: rgb(252, 185, 192);
    border-radius: 10px;
    border-width: 100px;
    padding: 0px;
    width: 1000px;
}
