h1 {
    color: pink;
    font-size: 36px;
}

p {
    color: blue;
    font-size: 18px;
}

ul {
    color: orange;
    list-style-type: square;
}

.navlinks :link, .navlinks :visited, .navlinks :hover, .navlinks :active{
    list-style-type: none;
    background: maroon;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    border-style: groove;
    border-radius: 15px;
    border-color: black;
    display: inline-block;
    width: 200px;
}

#back-to-misc {
    background: rgb(255, 127, 141);
    border-radius: 5px;
    margin: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    text-decoration: none;
}