img {
    width: 400px;
    height: 286px;
    object-fit: contain;
    border: 5px solid rgb(88, 237, 206);
    margin-left: 200px;
}

#back-to-design {
    background: rgb(255, 127, 141);
    border-radius: 5px;
    margin: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    text-decoration: none;
}

article {
    background: rgb(0, 218, 172);
    border-radius: 15px;
    margin-left: 110px;
    padding-left: 10px;
    padding-right: 10px;
}