img {
    width: 400px;
    height: 300px;
    object-fit: contain;
    border: 5px solid rgb(88, 237, 206);
    margin-left: 200px;
}

blockquote {
    font-weight: bold;
}

#back-to-blogs {
    background: rgb(255, 127, 141);
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 700px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    text-decoration: none;
    max-height: 50px;
    max-width: 60px;
}

.main {
    background: rgb(0, 218, 172);
}

.image {
    max-width: 300px;
}